<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Le Chef</title>

  <!--bulma and icons -->
  <link rel="stylesheet" href="res/css/bulma.min.css">
  <script defer src="res/js/all.js"></script>

  <!-- vue, axios, gallery component -->
  <script src="res/js/vue.js"></script>
  <script src="res/js/axios.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue-gallery-slideshow"></script>
</head>

<body class="has-navbar-fixed-top">
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('menuid'))">Menu</a>
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('map'))">Locations</a>
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('banner'))"><img src="res/img/chef.png"></a>
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('app'))">App</a>
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('contact'))">Contact</a>
      </div>
    </div>

  </nav>
  <!-- todo: add logo instead of "chef" text -->
  <!-- todo: center the items -->
  <!-- // navbar -->


  <!-- Header/vid -->
  <section id="banner">
    <div class="video-container">
      <video autoplay loop muted>
        <source src="res/img/grill.webm" type="video/webm">
        <source src="res/img/grill.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="overlay-desc">
        <h1>Le Chef Restoraunts</h1>
      </div>
    </div>
  </section>


  <!--      About       -->
  <section class="section" id="about">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title">About</p>
                <p>Our Chefs offer you perfect cooking, best served dishes with fresh ingredients and old recipes. We
                  have only carefully sourced and seasonal ingredients in our disposal to make rustic dishes. </p>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">Delivery</p>
                <p class="subtitle">Free delivery in one of our cities!*</p>
                <p>* Does not apply to Hong Kong.</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">Gift cards</p>
                <p class="subtitle">Buy a perfect gift. Treat yourself or your loved one to a favorite dinner today!</p>
                <figure class="image is-4by3">
                  <img src="res/img/gf-card.png">
                </figure>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">We cater any events</p>
              <p class="subtitle">Celebrate with us your special events or private parties and surprise your guests
                with our seasonal culinary delights</p>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="subtitle">Birthdays</p>
              <p>Book a table for two with the best Italian dishes served for the anniversary. Or reserve a bigger one
                for a huge family to get together one sunny day. Gather your friends together.</p>
              <p class="subtitle">Meetings</p>
              <p>You can also impress your boss by choosing the best place for corporate party with your co-workers.
                Reserve a spacious room, set the menu, choose the drinks and invite guests.</p>
              <p class="subtitle">Weddings</p>
              <p>75 seats for 75 guests are all at your disposal. Organize a party for a huge company and have fun in
                the restaurant. Show your friends the real world of European cuisine and especially Italian vibes.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <!-- App (menu) -->
  <section class="section" id="menuid">

    <h1 class="centered">Menu</h1>

    <div class="container" id="menu" v-cloak>

      <div class="columns is-centered">
        <img class="imageX" v-for="(image, i) in images" :src="image" @click="index = i">
        <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>
      </div>

      <br>

      <div class="content">
        <div class="columns">
          <div class="column is-one-quarter">
            <aside class="menu">
              <p class="menu-label">
                Opcenito
              </p>
              <ul class="menu-list">
                <li><a @click="activate(1)" :class="{ 'is-active' : active_el == 1 }">Preporuka sefa kuhinje</a></li>
                <li><a @click="activate(2)" :class="{ 'is-active' : active_el == 2 }">Topla predjela</a></li>
                <li><a @click="activate(3)" :class="{ 'is-active' : active_el == 3 }">Kineske juhe</a></li>
              </ul>
              <p class="menu-label">
                Glavna jela
              </p>
              <ul class="menu-list">
                <li><a @click="activate(4)" :class="{ 'is-active' : active_el == 4 }">Jela s rezancima</a></li>
                <li><a @click="activate(5)" :class="{ 'is-active' : active_el == 5 }">Jela s piletinom</a></li>
                <li><a @click="activate(6)" :class="{ 'is-active' : active_el == 6 }">Jela sa povrcem</a></li>
                <li><a @click="activate(7)" :class="{ 'is-active' : active_el == 7 }">Jela sa svinjetinom</a></li>
                <li><a @click="activate(8)" :class="{ 'is-active' : active_el == 8 }">Jela s junjetinom</a></li>
              </ul>
              <p class="menu-label">
                Ostalo
              </p>
              <ul class="menu-list">
                <li><a @click="activate(9)" :class="{ 'is-active' : active_el == 9 }">Specijaliteti</a></li>
                <li><a @click="activate(10)" :class="{ 'is-active' : active_el == 10 }">Pica</a></li>
              </ul>
            </aside>
          </div>

          <div class="column">
            <ul v-for="item in info[active_el-1].Ponuda">
              <div class="box">
                <div class="content">
                  <p>
                    <!-- debug/tooltip -->
                    <strong v-bind:data-tooltip="'JeloId:' + item.JeloId">{{ item.Naziv }}</strong> <small></small>
                    <br>
                    <p> Opis: {{ item.Opis }}, Cijena: {{ item.Cijena }} Kn</p>
                    <a class="button is-focused">Dodaj u kosaricu</a>
                  </p>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--      Locations (Map)        -->
  <!-- todo: icons instead of bullets-->
  <section class="section" id="map">
    <div class="container">

      <h1 class="centered">Locations</h1>

      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="res/img/zagreb.jpg" alt="Zagreb">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Zagreb</p>
                </div>
              </div>

              <div class="content">
                <ul>
                  <li>Bana Jelacica, 22</li>
                  <li>hr-chef@gmail.com</li>
                  <li>@hr-chef</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="res/img/london.jpg" alt="London">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">London</p>
                </div>
              </div>

              <div class="content">
                <li>Victory square, 33</li>
                <li>uk-chef@gmail.com</li>
                <li>@uk-chef</li>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="res/img/hongkong.jpg" alt="Hong Kong">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Hong Kong</p>
                </div>
              </div>

              <div class="content">
                <li>Yau Yat Chuen, 43</li>
                <li>hg-chef@gmail.com</li>
                <li>@hg-chef</li>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="res/img/newyork.jpg" alt="New York">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">New York</p>
                </div>
              </div>

              <div class="content">
                <li>Hell's Kitchen, 66</li>
                <li>us-chef@gmail.com</li>
                <li>@us-chef</li>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--     mobile app        -->
  <section class="section" id="app">
    <div class="container">
      <h1 class="centered">App</h1>
      <div class="columns">
        <div class="column">
          <img src="res/img/phone.png" alt="app">
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">

              <p class="title">Carry your food in your pocket</p>

              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <p>1.</p>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>Download the app</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <p>2.</p>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>Create account</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <p>3.</p>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>Place order</p>
                    </div>
                  </div>
                </article>
              </div>

            </div>
            <footer class="card-footer">
              <div class="card-footer-item">
                <figure class="image is-160x54">
                  <a href=""><img src="res/img/gplay.png" alt="google play"></a>
                </figure>
              </div>
              <div class="card-footer-item">
                <figure class="image is-160x54">
                  <a href=""><img src="res/img/applestore.png" alt="apple store"></a>
                </figure>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--      Contact form        -->
  <section class="section" id="contact">
    <div class="container">
      <h1 class="centered">Contact us</h1>

      <form id="contact-form" method="post" action="http://www.fulek.com/VUA/SUPIT/ContactUs" role="form">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" name="name" placeholder="Please enter your firstname *" required="required">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" name="email" placeholder="Please enter your email *" required="required">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Message importance</label>
          <div class="control">
            <div class="select">
              <select name="importance" required="required">
                <option>Select dropdown</option>
                <option value="2">High</option>
                <option value="1">Medium</option>
                <option value="0">Low</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" value="true" name="newsletter" required="required">
              Recieve newsletter?
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Message *</label>
          <div class="control">
            <textarea class="textarea" name="message" placeholder="Your message *" rows="4" required="required"></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <p> <strong>*</strong> These fields are required.</p>
        </div>
      </form>

    </div>
  </section>

  <!-- testemonials -->
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container centered">
        <div class="columns">
          <div class="column">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <img src="res/img/face1.jpeg" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Ivo Ivic</strong>
                      <br>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                      fringilla egestas."
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <img src="res/img/face2.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Pero Peric</strong>
                      <br>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                      fringilla egestas."
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <img src="res/img/face3.jpg" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Luka Lukic</strong>
                      <br>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                      fringilla egestas."
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Le Chef Restoraunts</strong> by Tomislav Kucar, 2019</a>.
      </p>
    </div>
  </footer>

  <link type="text/css" rel="stylesheet" href="res/css/style.css" />
  <script src="res/js/index.js"></script>
</body>

</html>