/*
* tf.css v0.3
* Copyright 2018, Tomislav Kucar
* Free to use under the MIT license.
* http://github.com/frainfreeze/tf-css

Table of contents
- Typography
- Buttons
- Forms
- Lists
- Tables
- Code
- Navigation
- Grid
- Utilities
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 200; 
    font-family: 'Raleway', sans-serif;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1rem; }

p, a { font-family: 'Raleway', sans-serif; }
a { color: dodgerblue }

.subtle { font-size: 1.2rem; color: #999; letter-spacing: normal; }

/* Utilities */
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20vh;
}  

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 1em 0;
    padding: 0;
}