@using WebMatrix.Data
@using System.Data.SqlClient
@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_LayoutAuthed.cshtml";
}

@functions{
    public IEnumerable<dynamic> GetData(string s)
    {
        Database db = Database.Open("db");
        string query = "exec GetMenu " + s;
        return db.Query(query);
    }
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h2>Pregled jelovnika</h2>

@{
    string stringy = "'" + @TempData["message"].ToString() + "'";
    WebGrid grid = new WebGrid(GetData(stringy));
}

<div id="grid">
    @grid.GetHtml(
        tableStyle: "table"
    )
</div>