/* 
* Red Rivers Custom CSS
* Copyright Tomislav Kucar 2020
*/
.jumbotron {
    background: url("../img/bg.jpg");
    background-size: cover;
    height: 100%;
}

.media {
    padding-bottom: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}