<!DOCTYPE html>
<html>
<!--
       __
      /
   .-/-.
   |'-'|    Dobar tek.
   |   |
   |   |   .-""""-.
   \___/  /' .  '. \   \|/\//
         (`-..:...-')  |`""`|
          ;-......-;   |    |
           '------'    \____/
-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Le Chef</title>

  <!--bulma and extensions -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script src='res/js/bulma-extensions.min.js'></script>
  <link rel="stylesheet" href="res/css/bulma-extensions.min.css">

  <!-- vue, axios, gallery component -->
  <!--<script type="text/javascript" src="res/js/vue.js"></script> dev version-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script type="text/javascript" src="res/js/vue-gallery-slideshow.min.js"></script>
</head>

<body class="has-navbar-fixed-top">
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('menuid'))">Menu</a>
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('map'))">Locations</a>
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('banner'))"><img src="res/img/chef.png"></a>
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('app'))">App</a>
        <a class="navbar-item" onclick="smoothScroll(document.getElementById('contact'))">Contact</a>
      </div>
    </div>

  </nav>
  <!-- // navbar -->



  <!-- App (menu) -->
  <section class="section" id="menuid">

    <h1 class="centered">Menu</h1>

    <div class="container" id="menu" v-cloak>
      <div class="content">
        <div class="columns">
          <!--side menu-->
          <div class="column is-one-quarter">
            <aside class="menu">
              <p class="menu-label">
                Opcenito
              </p>
              <ul class="menu-list">
                <li><a @click="activate(1)" :class="{ 'is-active' : active_el == 1 }">Preporuka sefa kuhinje</a></li>
                <li><a @click="activate(2)" :class="{ 'is-active' : active_el == 2 }">Topla predjela</a></li>
                <li><a @click="activate(3)" :class="{ 'is-active' : active_el == 3 }">Kineske juhe</a></li>
              </ul>
              <p class="menu-label">
                Glavna jela
              </p>
              <ul class="menu-list">
                <li><a @click="activate(4)" :class="{ 'is-active' : active_el == 4 }">Jela s rezancima</a></li>
                <li><a @click="activate(5)" :class="{ 'is-active' : active_el == 5 }">Jela s piletinom</a></li>
                <li><a @click="activate(6)" :class="{ 'is-active' : active_el == 6 }">Jela sa povrcem</a></li>
                <li><a @click="activate(7)" :class="{ 'is-active' : active_el == 7 }">Jela sa svinjetinom</a></li>
                <li><a @click="activate(8)" :class="{ 'is-active' : active_el == 8 }">Jela s junjetinom</a></li>
              </ul>
              <p class="menu-label">
                Ostalo
              </p>
              <ul class="menu-list">
                <li><a @click="activate(9)" :class="{ 'is-active' : active_el == 9 }">Specijaliteti</a></li>
                <li><a @click="activate(10)" :class="{ 'is-active' : active_el == 10 }">Pica</a></li>
              </ul>
            </aside>
          </div>

          <!--list-->
          <div class="column">
            <ul v-for="item in info[active_el-1].Ponuda">
              <div class="box">
                <div class="content">
                  <p>
                    <!-- debug/tooltip <strong v-bind:data-tooltip="'JeloId:' + item.JeloId">{{ item.Naziv }}</strong>-->
                    <strong>{{ item.Naziv }}</strong>
                    <br>
                    <p> Opis: {{ item.Opis }}, Cijena: {{ item.Cijena }} Kn</p>
                    <input v-model="item.qty" type="number" class="form-control" placeholder="Qty" min="1" />
                    <a class="button is-focused" @click="addToCart(item)">Dodaj u kosaricu</a>
                  </p>
                </div>
              </div>
            </ul>
          </div>
        </div>

        <div class="is-divider" data-content="CART"></div>

        <div class="columns">
          <div class="column"></div>
          <div class="column is-three-fifths">
            <shopping-cart inline-template :items="cartItems">
              <div>
                <table class="table is-hoverable">
                  <tr v-for="(item, ix) in items">
                    <td>{{item.Naziv}}</td>
                    <td style="width:120px">QTY:
                      <input v-model="item.qty" class="form-control input-qty" type="number">
                    </td>
                    <td data-tooltip="order note">Note.</td>
                    <td class="text-right">{{item.Cijena }} Kn</td>
                    <td>
                      <button class="button is-small is-white" @click="removeItem(ix)"><span class="far fa-trash-alt"></span></button>
                    </td>
                  </tr>
                  <tr v-show="items.length === 0">
                    <td>Cart is empty</td>
                  </tr>
                  <tr v-show="items.length > 0">
                    <td></td>
                    <td></td>
                    <td>Cart Total</td>
                    <td>{{Total}} Kn</td>
                    <td><button class="button is-primary is-small modal-button" @click="clearCart()">Clear cart</button><button class="button is-primary is-small modal-button" @click="isShowModal = true">Order now</button></td>
                  </tr>
                </table>

                <!-- modal -->
                <div class="modal" v-bind:class="{ 'is-active': isShowModal }">
                  <div class="modal-background" v-on:click="isShowModal = false"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">Checkout</p>
                      <button class="delete" aria-label="close" v-on:click="isShowModal = false"></button>
                    </header>
                    <section class="modal-card-body">
                      <p>We accept: <i class="fab fa-cc-stripe"></i> <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
                        <i class='fab fa-cc-amex'></i> <i class='fab fa-cc-discover'></i></p>
                      <h3>Total: {{Total}} Kn</h3>
                      <p> --payment processor-- </p>
                    </section>
                    <footer class="modal-card-foot">
                      <button class="button" v-on:click="isShowModal = false">Cancel</button>
                      <button class="button" title="Disabled button" disabled>Buy</button>
                    </footer>
                  </div>
                </div>
            </shopping-cart>
          </div>
        </div>
        <div class="column"></div>
      </div>

    </div>

    </div>
  </section>

  <!-- aditional css, custom js, fontawesome -->
  <link type="text/css" rel="stylesheet" href="res/css/style.css" />
  <script src="res/js/index.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/js/all.min.js"></script>
</body>

</html>