@import url('https://fonts.googleapis.com/css?family=Raleway');

body { 
	background: #faaa31 url("bg.jpg") no-repeat right bottom; 
	background-size: 55%;
	margin: 7%;
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
    display: grid;
}

.intro {
    display: grid;
    grid-area: 1 / 1 / 2 / 5;
}

.zen-supporting {
    display: grid;
    grid-area: 2 / 1 / 3 / 4;
}

.sidebar {
	padding-top: 75%;
    padding-left: 15px;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.8rem; }

p, a { font-family: 'Raleway', sans-serif; }

a { color: #2A65A3; }

ul {
	list-style: circle inside;
    padding-left: 0;
    margin-top: 0;	
}

li { font-family: 'Raleway', sans-serif; }

/* footer icons */
footer {
	visibility: hidden;
	font-size: 30px;
}

.zen-validate-html:after {
    content: "🌐";  
    visibility: visible;
}

.zen-validate-css:after {
    content: "🖋";
    visibility: visible;
}

.zen-license:after {
    content: "㏄";
    visibility: visible;
}

.zen-accessibility:after {
    content: "♿";
    visibility: visible;
}

.zen-github:after {
    content: "📦";
	visibility: visible;
	text-decoration: none;
}