<div>
    <h1 class="is-size-2">PPPK project</h1>

    <div class="content">
        <ul>
            <li>Registracija vozaca</li>
            <li>Unos vozila</li>
            <li>Putni nalozi</li>
            <li>Servisi</li>
            <li>Izvjestaji</li>
        </ul>
    </div>
</div>